<html class="js svg audio canvas cssremunit csscalc cssgradients supports no-touchevents video cssanimations cssfilters flexbox flexboxlegacy no-flexboxtweener flexwrap csstransforms csstransforms3d csstransitions backgroundblendmode gr__includesgsits_tech ss-loaded"
    lang="en" style="" data-useragent="Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/69.0.3497.100 Safari/537.36">

<head>

    <!--- basic page needs
        ================================================== -->
    <meta charset="utf-8">
    <title>#include S.G.S.I.T.S.</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="theme-color" content="#000000" />
    <!-- mobile specific metas
        ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="yJWzkKPz0-0KXPTnkw9rfck4x2b2Oiy2_niyf9-7vU8" />
    <!-- CSS
        ================================================== -->
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/vendor.css">
    <link rel="stylesheet" href="css/main.css">

    <!-- script
        ================================================== -->
    <script src="js/modernizr.js"></script>
    <script src="js/pace.min.js"></script>

    <!-- favicons
        ================================================== -->
    <link rel="shortcut icon" href="favicon.png" type="image/x-icon">
    <link rel="icon" href="favicon.png" type="image/x-icon">

    <!-- firebase
        ================================================== -->
    <!-- <script src="https://www.gstatic.com/firebasejs/5.7.2/firebase.js"></script>
    <script>
     // Initialize Firebase
     var config = {
       apiKey: "AIzaSyA4cQZ2xG1WCf-vpUekt-U_doK4lV3FVNU",
       authDomain: "includesgsits-aa89e.firebaseapp.com",
       databaseURL: "https://includesgsits-aa89e.firebaseio.com",
       projectId: "includesgsits-aa89e",
       storageBucket: "includesgsits-aa89e.appspot.com",
       messagingSenderId: "496619559074"
     };
     firebase.initializeApp(config);
    </script> -->

    <!-- Angular
        ================================================== -->
    <!--ANGULARJS SCRIPT-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <!--ANGULARJS ANIMATIONS-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.js"></script>
    <!--ANGULAR JS ROUTE MODULE-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
    <!--CONTENTFUL API MODULE-->
    <script src="https://cdn.jsdelivr.net/npm/contentful@latest/dist/contentful.browser.min.js"></script>

    <style>
        .clickhere {
            color: #ffffff;
            font-size: 1.2em;
            ;
            font-family: domine-regular, serif;
            /* font-weight: 800; */
            background-color: #ec008c;
            padding: 3%;
            padding-left: 5%;
            padding-right: 5%;
            margin: 3%;
        }

        .clickhere:hover {
            color: #ec008c;
            font-size: 1.2em;
            ;
            font-family: domine-regular, serif;
            /* font-weight: 800; */
            background-color: transparent;
            padding: 3%;
            padding-left: 5%;
            padding-right: 5%;
            margin: 3%;
            border: 2px solid #ec008c;
        }

        .blogs:hover{
            color: #ec008c;
    font-size: 0.8em;
    font-family: domine-regular, serif;
    /* font-weight: 800; */
    background-color: transparent;
    padding: 1%;
    padding-left: 5%;
    padding-right: 5%;
    margin: 2%;
    border: 2px solid #ec008c !important;
        }
        .blogs{
            color: white;
    font-size: 0.8em;
    font-family: domine-regular, serif;
    /* font-weight: 800; */
    background-color: #ec008c;
    padding: 1%;
    padding-left: 5%;
    padding-right: 5%;
    margin: 2%;
    border: 2px solid #ec008c !important;
        }

		#cover{background-color:rgba(255,255,255,0);
			position:fixed;
			top: 0;
			left: 0;
			height: 100vh;
			width: 102%;
			z-index: 501;
			overflow: auto;}

		#event-img-heading{position: fixed;
			text-align: center;
			padding: 0 20px;
			color: white;
			background-color:rgba(0,0,0,0.6);
			font-size: 4rem;
			top: 5%;
			left: 50%;
			transform:translate(-50%,0);}

        #images-anchor{position: fixed;
            bottom: 15%;
            left: 50%;
            transform:translate(-50%,0);}

		.change-event-button{padding: 0 20px;
			font-size: 10rem;
			background-color:rgba(0,0,0,0.5);
			position:fixed;
			top: 30%;
			z-index: 502;
			cursor: pointer;}

		.next-event-button{right: 0;}
		.previous-event-button{left: 0;}

        .change-event-button:hover{color: white;}

		@media only screen and (max-width: 600px){

            #cover{position:relative;
                top: -75vh;}

            #images-anchor{bottom: -10%;}

            .change-event-button{
				padding: 0 2px;
				font-size: 5rem;}

			#event-img-heading{
				padding: 0 20px;
				font-size: 2rem;
				top: 0;}
		}
    </style>

</head>

<body class="  pace-done" data-gr-c-s-loaded="true">
    <div class="pace  pace-inactive">
        <div class="pace-progress" data-progress-text="100%" data-progress="99" style="transform: translate3d(100%, 0px, 0px);">
            <div class="pace-progress-inner"></div>
        </div>
        <div class="pace-activity"></div>
    </div>

    <!-- home
        ================================================== -->
    <main class="s-home s-home--particles" ng-app="myApp" ng-controller="myCtrl">

        <div id="particles-js" class="home-particles"><canvas class="particles-js-canvas-el" width="554" height="720" style="width: 100%; height: 100%;"></canvas></div>

        <div class="gradient-overlay"></div>

        <div class="home-content" ng-show="event_show==1">

            <div class="home-logo">
                <a href="http://www.includesgsits.tech">
                    <img src="images/logo.png" alt="Homepage">
                </a>
            </div>

            <div id="fade" class="row home-content__main align-center" style="padding-top: 70px;">

                <div class="col-eight home-content__text pull-right" style="text-align: left;padding-left: 5px;">
                    <h3>Welcome to includesgsits.tech</h3>

                    <h1>
                        {{events[display_event].name}} <br>
                    </h1>

                    <p>
                        {{events[display_event].content}}
                    </p>
                </div> <!-- end home-content__text -->

                <div class="col-four home-content__counter">
                    <h3>{{events[display_event].name}} Starting In</h3>

                    <div class="home-content__clock">
                        <div class="top">
                            <div class="time days">04 <span>days</span></div>
                        </div>
                        <div class="time hours">04 <span>H</span></div>
                        <div class="time minutes">14 <span>M</span></div>
                        <div class="time seconds">12 <span>S</span></div>
                    </div> <!-- end home-content__clock -->

                    <div class="home-content__subscribe" style="z-index: 502;">
                            <p style="color:white;font-size:1.2em; font-family: domine-regular, serif">To Know More!!!</p>
                            <a href="{{events[display_event].link}}" class="clickhere">
                                Click Here
                            </a>
                            <br><br>
                            <div>
                                <a href="https://www.facebook.com/hashincludesgsits"><i class="fab fa-facebook-f" aria-hidden="true" style="margin: 0 10px;"></i></a>
                                <a href="https://www.google.com/url?q=https://www.linkedin.com/company/include-sgsits/&sa=D&source=hangouts&ust=1547201798979000&usg=AFQjCNEQHq9T_2ABbBfC63C-mVvSVwIs-A"><i class="fab fa-linkedin" aria-hidden="true" style="margin: 0 10px;"></i></a>
                                <a href="https://www.instagram.com/include._/"><i class="fab fa-instagram" aria-hidden="true" style="margin: 0 10px;"></i></a>
                            </div>
                    </div>


                </div> <!-- end home-content__counter -->

            </div> <!-- end home-content__main -->

        </div> <!-- end home-content -->

		<!-- EVENT IMAGES DISPLAY HERE
        ================================================== -->
		<div id="cover" onscroll="myFunction()">
        	<p id="display" style="position: fixed;"><!--scroll count--></p>
        	<div id="event-img-heading">{{events[display_event].name}}</div>
            <div id="images-anchor"><i style="color: #ec008c;" class="fa fa-arrow-circle-up"></i> Event Photographs</div>
			<div id="event-images" style="background-color: rgba(0,0,0,0.2); height: auto;width: 50%;margin-top: 100vh;margin-left: 20%;">
				<div ng-repeat="pic in events[display_event].image">
					<img ng-src="{{pic}}" alt="image" style="height: auto;width: 80vw;margin: 0 10% 5% 10%;">
				</div>
			</div>
		</div>
		<!-- ================================================== -->

		<!-- BUTTON FOR NEXT, PREVIOUS EVENT
        ================================================== -->
		<div ng-click="next_event()" ng-show="display_event != (events.length - 1)" class="change-event-button next-event-button">&#10097;</div>
		<div ng-click="previous_event()" ng-show="display_event != 0" class="change-event-button previous-event-button">&#10096;</div>
		<!-- ================================================== -->

    </main> <!-- end s-home -->


    <!-- info
        ================================================== -->
    <a class="info-toggle" href="#0">
        <span class="info-menu-icon"></span>
    </a>

    <div class="s-info">
        <div class="row info-wrapper">
            <div class="col-seven tab-full info-main">
                <h1>
                    About #include S.G.S.I.T.S Indore
                </h1>
                <h2 style="color:white;">
                        <a href="./blogs.html" class="blogs">
                            Blogs
                        </a>
                        <a href="./books.html" class="blogs">
                            Books
                        </a>
                    </h2>
                <p>
                    #Include - A techno-learning club associated with talent, knowledge and learning is the official club of Information Technology
                    Department.
                </p>

                <p>We are a collaboration of ardent technophiles and zealous learners who believe that the central purpose
                    of education, learning and collaboration is to mediate voluntary evolution. We believe that an investment
                    in knowledge is the best thing an individual can do. We try to provide the best possible environment
                    for students to reach their maximum potential and to chisel their abilities to the best of their capacities.
                </p>
            </div>

            <div class="col-four tab-full pull-right info-contact">

                <div class="info-block">
                    <h3>Start A Conversation</h3>
                    <p>
                        <a href="mailto:#0" class="info-email">contactus@includesgsits.tech</a><br>
                        <a href="tel:+919630494120" class="'info-phone">+91 9630494120</a>
                    </p>
                </div>

                <div class="info-block">
                    <h3>Visit Our Office</h3>

                    <p class="info-address">
                        <br> S.G.S.I.T.S. Indore<br> 23, Sir M. Visvesvaraya Marg, Vallabh Nagar, <br>Indore, Madhya Pradesh
                        <br>452003
                    </p>
                </div>

                <div class="info-block">
                    <h3>Find Us On</h3>

                    <ul class="info-social">
                        <li>
                            <a href="https://www.facebook.com/hashincludesgsits"><i class="fab fa-facebook-f" aria-hidden="true"></i><span>Facebook</span></a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/hashincludesgsits/"><i class="fab fa-linkedin" aria-hidden="true"></i><span>LinkedIn</span></a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/include._/"><i class="fab fa-instagram" aria-hidden="true"></i><span>Instagram</span></a>
                        </li>
                    </ul>
                </div>

            </div> <!-- end info contact -->

        </div> <!-- end info wrapper -->

    </div> <!-- end s-info -->


    <!-- preloader
        ================================================== -->
    <div id="preloader" style="display: none;">
        <div id="loader" style="display: none;">
            <div class="line-scale-pulse-out">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>

    <!-- Java Script
        ================================================== -->
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/polygons.js"></script>
    <script src="js/main.js"></script>

<script>

/*FADING ON SCROLL*/
/*========================================================*/
	function offset(el) {
	    var rect = el.getBoundingClientRect(),
	    scrollLeft = window.pageXOffset || document.documentElement.scrollLeft,
	    scrollTop = window.pageYOffset || document.documentElement.scrollTop;
	    return { top: rect.top + scrollTop, left: rect.left + scrollLeft }
	}

	var x = document.getElementById("event-images");
	function myFunction() {
		var x = document.getElementById("event-images");
		var divoffset = offset(x);
	  //document.getElementById("display").innerHTML = divoffset.top;
	  fade(divoffset.top);
	}

	document.getElementById("event-img-heading").style.opacity = 0;
	function fade(i){
        var h = window.innerHeight;
		document.getElementById("fade").style.opacity = (i-(h-h/3))/(h/3);
        document.getElementById("images-anchor").style.opacity = (i-(h-h/3))/(h/3);
		document.getElementById("event-img-heading").style.opacity = (h-i)/(h/3);
	}
/*==========================================================*/

/*FETCHING IMAGES FROM FIREBASE
========================================================*/
// var storage = firebase.storage();
// var storageRef = storage.ref();
//
// function get_images(event_name, n){
//     var url_list = [];
//     for(var i=1; i<=n; i++){
//         var path = event_name+"/image"+String(i)+".JPG";
//         storageRef.child(path).getDownloadURL().then(function(url) {
//             url_list.push(url)
//         });
//     }
//     return url_list;
// }
/*==========================================================*/

/*ANGULAR CONTROLLER
========================================================*/
var app = angular.module('myApp', []);
    app.controller('myCtrl', function($scope, $timeout, $http){

       $scope.display_event = 0;
       $scope.event_show = 1;

       /*Next Event Button*/
       $scope.next_event = function(){
       		if($scope.display_event != ($scope.events.length - 1)){
       			$scope.event_show = 0;
       			$scope.display_event +=1;
       			$timeout(function () {
      				$scope.event_show = 1;
  				}, 0);
       		}
       }

       /*Previous Event Button*/
       $scope.previous_event = function(){
       		if($scope.display_event != 0){
       			$scope.event_show = 0;
       			$scope.display_event -=1;
       			$timeout(function () {
      				$scope.event_show = 1;
  				}, 0);
       		}
       }

       /*Fetching Event Images from Json Files
       ===========================================*/
       $http.get("cipherit.json")
            .then(function(res){
                $scope.events[0].image = res.data.imageURL;
            });

        $http.get("hackindore.json")
            .then(function(res){
                $scope.events[1].image = res.data.imageURL;
            });
        /*=========================================*/

       /*Event Details
       ===========================================*/
       $scope.events = [
       	{
       		name:"CipherIT",
       		content:"CipherIT is a coding competition aimed at promoting competitive programming culture among the students of SGSITS, Indore and help them improve their plroblem solving ability and their undertsanding of data structures and algorithms. It also focusses on making students aware about pattern of various coding competitions such as ACM-ICPC.",
       		link:"https://www.google.com/url?q=https://www.codechef.com/CIIT2018&sa=D&source=hangouts&ust=1547199054494000&usg=AFQjCNEAAFGjEol8b7hyxZIZPumaZvFQTw",
          image: []
       	},
       	{
       		name:"HackIndore",
          content:"A hackathon is a software development sprint in which computer programmers and others involved in software development, including designers and software architects collaborate intensively on software projects. #include, official technical club of Information Technology Department @ S.G.S.I.T.S. is planning to organize an intercollege hackathon #HackIndore that aims to provide software solutions to various academic departments of the institution as well to some industries and companies.",
          link:"http://www.hackindore.splashthat.com",
          image: []
       	}
       ];
       /*=========================================*/

    });
/*========================================================*/

</script>

</body>

</html>
